


/* ---------------------------banner  style---------------------------- */
.Banner {
  width: 1320px;
  height: 600px;
  padding: 10px;
  margin: 0 auto;
}
/* -------------------------------happy-new-year----------------------- */
section .happy-new-year {
  text-align: center;
  padding-bottom: 30px;
}
.happy-new-year img {
  weight: 250px;
  height: 300px;
}
.happy-new-year h1{
  color: rgba(255, 0, 0, 1);
  font-size: 45px;
  font-weight: bold;
}
.happy-new-year h4{
  
  font-size: 13px;
  color: rgba(255, 0, 0, 1);
}
.happy-new-year h2{
  color: rgba(7, 2, 17, 1);
}

/* ---------------------------welcome---------------------------- */
.welcome{
  background-image: url(./images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-margin: 120px 140px;
  height: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.welcome {
  color: #fff;
  overflow-x: 120px:
  padding-right: 50px;
}

/* ------------------new-park-hotel--------------------- */
section .new-park-hotel{
  padding: 119px 119px
  background-color: red;
}
section .btn{
  text-align: center;
}
.new-park-hotel h2{
  text-align: center;
}
.new-park-hotel span{
  color: rgba(255, 0, 0, 1);
}
.btn button{
  background-color: rgba(255, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 7px;
}
